body {
  /* height: 100%; */
  /* background-image: url('media_1f78a60f54d4768f60186918e91c3a695f221f849.webp'); */
  margin: 0px;
}

/*  TASK1 SAMPLE FORM  */

.task1-sample-form {
  min-height: 100px;
  background-image: url('media_1f78a60f54d4768f60186918e91c3a695f221f849.webp');
}
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 40px;

  color: white;
}

.logo {
  padding-top: 5px;
}

.header {
  background-color: rgba(0, 0, 0, 0.425);
}

header h2 {
  font-size: 2rem;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: white;
}

footer {
  margin-top: 60px;
  /* padding: 10px; */
  height: 30px;
  text-align: center;
  color: white;
}

footer p {
  margin-top: 0px;
  padding-top: 10px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.425);
}

main {
  height: 380px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

main p:last-of-type {
  font-size: 20px;
}

.signUpDiv {
  color: white;
  text-align: center;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 30px 20px;
}

.signUpDiv .button {
  margin-top: 25px;
}

.email {
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid white;
  margin-bottom: 20px;
}

.password {
  margin-top: 20px;
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid white;
}

.socialMediaLinks {
  height: 30px;
}

.subscriptionDiv {
  color: black;
  padding: 30px 20px;
  text-align: center;
  width: 35%;
  background-color: white;
}

.subscriptionDiv .fas {
  color: rgb(238, 126, 223);
}

#lastLine {
  margin-bottom: 65px;
}

#email {
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid black;
}

.button {
  margin-top: 35px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(238, 126, 223);
  border: none;
  color: white;
  border-radius: 100px;
}

.facebook {
  color: rgb(24, 119, 242);
  padding-right: 10px;
}

.twitter {
  color: rgb(29 161 242);
  padding-right: 10px;
}

.linkedin {
  color: rgb(0, 119, 181);
  padding-right: 10px;
}

.mail-icon {
  color: white;
  right: 25px;
}

.password-icon {
  color: white;
  right: 25px;
}

.inputFields i {
  position: relative;
}

.mail-icon-subscription {
  color: black;
  right: 25px;
}

/*  TASK2 OPERATORS AND DOM (SAMPLE CALCULATOR) */

.task2-operators-DOM {
  display: flex;
  height: 700px;
  background-color: rgba(222, 184, 135, 0.541);
}

.calculator {
  display: grid;
  grid-template-rows: 3fr 7fr;
  margin: auto;
  height: 500px;
  width: 400px;
  background-color: rgba(255, 127, 80, 0.411);
}

.resultArea {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: cyan;
}

.numPad {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
  background-color: darkgrey;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.number {
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.operator {
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.initialValue {
  text-align: end;
  font-size: 4rem;
}

.finalResult {
  text-align: end;
  font-size: 4rem;
}

/* TASK 3 */

.evenNumbers {
  text-align: center;
  margin: 100px 100px 30px 100px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 526px;
  background-color: lemonchiffon;
  justify-content: center;
  padding: 5px;
}

.listNumbers {
  height: 20px;
  width: 25px;
  margin: auto;
}

/* .row {
  width: 70px;
  height: 526px;
} */
.descriptionDiv {
  background-color: lemonchiffon;
  height: auto;
  padding: 5px;
  text-align: center;
}

/* TASK 4 */

.task-4 {
  padding: 50px;
}

.task-4 h1 {
  color: black;
  padding-bottom: 30px;
}

#concat {
  width: 250px;
}

#slice {
  width: 300px;
}

#splice {
  width: 450px;
}
span {
  color: rgba(0, 0, 0, 0.692);
  font-size: 1rem;
}

/* TASK 5 */

.task5 {
  background-color: rgba(210, 105, 30, 0.596);
  min-height: auto;
  display: flex;
  padding: 150px;
}

.task5-container {
  margin: auto;
  width: 90%;
  height: 500px;
  background-color: rgb(87, 235, 153);
  border-radius: 50px;
}

.task5-container h1 {
  font-size: 3rem;
  text-align: center;
}

.task5-input {
  text-align: center;
  margin: 30px 0px;
}

.inputForm {
  margin: 0 auto;
  display: flex;
  width: 700px;
  justify-content: center;
}

#todo-input {
  width: 350px;
  font-size: 1.5rem;
  padding: 5px;
  box-sizing: border-box;
}

#addEvent {
  width: 200px;
  font-size: 1.5rem;
  padding: 5px;
  box-sizing: border-box;
}

.fa-plus {
  margin-left: 10px;
}

.list-container {
  position: relative;
  width: 470px;
  margin: 0 auto;
}

.task-list {
  height: fit-content;
  background-color: inherit;
}

.task-div {
  display: flex;
  height: 50px;
  justify-content: space-between;
  box-sizing: border-box;
}

.task-info {
  font-size: 25px;
  margin: 5px 0;
  padding-top: 10px;
  height: 40px;
  box-sizing: border-box;
}

.edit-div {
  top: 0px;
  height: 50px;
  position: absolute;
  width: 100%;
  background-color: rgb(87, 235, 153);
}

.edit-delete-button {
  padding-top: 10px;
  box-sizing: border-box;
}

.edit-div {
  display: flex;
  justify-content: space-between;
}
.edit-div input {
  margin-top: 8px;
  font-size: 25px;
  box-sizing: border-box;
}

.save-button {
  margin-left: 100px;
}

.task-info {
  display: inline;
}

.edit {
  display: inline;
}
.delete {
  display: inline;
}

.hidden {
  visibility: hidden;
}

/* TASK-6 */

.task-6 {
  margin: 0 auto;
  width: 50%;
  padding: 50px;
  position: relative;
}

.task6-registration-form {
  position: relative;
}

.task6-form-fields {
  display: inline-block;
  width: 250px;
  margin: 20px;
}

.task6-form-input-fields {
  display: inline-block;
  width: 250px;
  margin: 20px;
}

#task6-address-field {
  position: relative;
  bottom: 55px;
}
.task6-submit-button {
  text-align: center;
}

.form-div {
  text-align: center;
}

.task6-alert-user-name {
  position: absolute;
  width: fit-content;
  top: 20px;
  color: red;
}

.task6-alert-user-password {
  position: absolute;
  width: fit-content;
  top: 78px;
  color: red;
  width: 300px;
}

.task6-alert-user-email {
  position: absolute;
  width: fit-content;
  top: 140px;
  color: red;
  width: 300px;
}

.task6-alert-user-number {
  position: absolute;
  width: fit-content;
  top: 205px;
  color: red;
  width: 300px;
}

.task6-alert-user-address {
  position: absolute;
  width: fit-content;
  top: 285px;
  color: red;
  width: 300px;
}
.userDiv {
  background-color: white;
  height: auto;
  width: 30%;
  margin: 0 auto;
}

/* TASK7 */

.task7 {
  background-color: coral;
  width: 100%;
  height: 700px;
}

.menu {
  width: 20%;
  background-color: rgb(212, 221, 236);
  height: 100%;
  display: inline-block;
}

.bill {
  width: 50%;
  background-color: rgb(116, 237, 100);
  height: 50%;
  display: inline-block;
  margin-bottom: 15%;
  margin-left: 10%;
}

.total {
  width: 15%;
  background-color: rgb(237, 100, 141);
  height: 50px;
  margin-bottom: 30%;
  margin-left: 2%;
  display: inline-block;
}

.items {
  height: 25%;
  width: 90%;
  margin: 10px auto;
}

#item-1 {
  background-image: url('kadai-paneer-2.jpeg');
  background-size: 100% 110%;
}

.item-description {
  height: 5%;
  width: 90%;
  margin: 0 auto;
  background-color: crimson;
}

.item-description p {
  display: inline-block;
  color: blue;
}
