body {
  /* height: 100%; */
  /* background-image: url('media_1f78a60f54d4768f60186918e91c3a695f221f849.webp'); */
  margin: 0px;
}

/*  TASK1 SAMPLE FORM  */

.task1-sample-form {
  min-height: 100px;
  background-image: url('media_1f78a60f54d4768f60186918e91c3a695f221f849.webp');
}
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 40px;

  color: white;
}

.logo {
  padding-top: 5px;
}

.header {
  background-color: rgba(0, 0, 0, 0.425);
}

header h2 {
  font-size: 2rem;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: white;
}

footer {
  margin-top: 60px;
  /* padding: 10px; */
  height: 30px;
  text-align: center;
  color: white;
}

footer p {
  margin-top: 0px;
  padding-top: 10px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.425);
}

main {
  height: 380px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

main p:last-of-type {
  font-size: 20px;
}

.signUpDiv {
  color: white;
  text-align: center;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 30px 20px;
}

.signUpDiv .button {
  margin-top: 25px;
}

.email {
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid white;
  margin-bottom: 20px;
}

.password {
  margin-top: 20px;
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid white;
}

.socialMediaLinks {
  height: 30px;
}

.subscriptionDiv {
  color: black;
  padding: 30px 20px;
  text-align: center;
  width: 35%;
  background-color: white;
}

.subscriptionDiv .fas {
  color: rgb(238, 126, 223);
}

#lastLine {
  margin-bottom: 65px;
}

#email {
  width: 80%;
  background-color: transparent;
  border: unset;
  border-bottom: thin solid black;
}

.button {
  margin-top: 35px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(238, 126, 223);
  border: none;
  color: white;
  border-radius: 100px;
}

.facebook {
  color: rgb(24, 119, 242);
  padding-right: 10px;
}

.twitter {
  color: rgb(29 161 242);
  padding-right: 10px;
}

.linkedin {
  color: rgb(0, 119, 181);
  padding-right: 10px;
}

.mail-icon {
  color: white;
  right: 25px;
}

.password-icon {
  color: white;
  right: 25px;
}

.inputFields i {
  position: relative;
}

.mail-icon-subscription {
  color: black;
  right: 25px;
}

/*  TASK2 OPERATORS AND DOM (SAMPLE CALCULATOR) */

.task2-operators-DOM {
  display: flex;
  height: 700px;
  background-color: rgba(222, 184, 135, 0.541);
}

.calculator {
  display: grid;
  grid-template-rows: 3fr 7fr;
  margin: auto;
  height: 500px;
  width: 400px;
  background-color: rgba(255, 127, 80, 0.411);
}

.resultArea {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: cyan;
}

.numPad {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
  background-color: darkgrey;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.number {
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.operator {
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

.initialValue {
  text-align: end;
  font-size: 4rem;
}

.finalResult {
  text-align: end;
  font-size: 4rem;
}

/* TASK 3 */

.evenNumbers {
  text-align: center;
  margin: 100px 100px 30px 100px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 526px;
  background-color: lemonchiffon;
  justify-content: center;
  padding: 5px;
}

.listNumbers {
  height: 20px;
  width: 25px;
  margin: auto;
}

/* .row {
  width: 70px;
  height: 526px;
} */
.descriptionDiv {
  background-color: lemonchiffon;
  height: auto;
  padding: 5px;
  text-align: center;
}

/* TASK 4 */

.task-4 {
  padding: 50px;
}

.task-4 h1 {
  color: black;
  padding-bottom: 30px;
}

#concat {
  width: 250px;
}

#slice {
  width: 300px;
}

#splice {
  width: 450px;
}
span {
  color: rgba(0, 0, 0, 0.692);
  font-size: 1rem;
}
